**NumPy**

# Create ndarray

In [1]:
import numpy as np

In [2]:
# Create 0D ndarray by pass list
arr0d = np.array([5])

In [3]:
arr0d

array([5])

In [4]:
arr0d.dtype

dtype('int64')

In [5]:
# Create 1D array
arr1d = np.array([1,2,3,4,5])

In [6]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [7]:
print(arr1d)
print(arr1d.dtype)

[1 2 3 4 5]
int64

In [8]:
arr1d = np.array([1,2,3,4,5.0])

In [9]:
print(arr1d)
print(arr1d.dtype)

[1. 2. 3. 4. 5.]
float64

In [10]:
arr1d = np.array([1,2,3,"4",5.0])

In [11]:
print(arr1d)
print(arr1d.dtype)

['1' '2' '3' '4' '5.0']
<U32

In [12]:
np.array([1,2,3,"4",5.0], dtype=np.int16)

array([1, 2, 3, 4, 5], dtype=int16)

In [13]:
np.array([1,2,3,"4","5.0"], dtype=np.int16)

ValueError: ignored

In [14]:
np.array([1,2,3,"4","5.0"], dtype=np.float16)

array([1., 2., 3., 4., 5.], dtype=float16)

In [15]:
# Create 2D ndarray with data type

arr2d = np.array( [ [0,1,2,3,4], [5,6,7,8,9] ] )

In [16]:
print(arr2d)
print(arr2d.dtype)

[[0 1 2 3 4]
 [5 6 7 8 9]]
int64

In [17]:
arr2d = np.array([[0,1,2,3,4,], [5,6,7,8,9]], dtype = 'i1') # np.int8,  np.int64 np.intc
print("data type : " , arr2d.dtype)
print("array : ", arr2d)

data type :  int8
array :  [[0 1 2 3 4]
 [5 6 7 8 9]]

In [25]:
# -128  -> 127   int8


#  -130 | -128 -127 -126 -125 -124 ... 0 ... 123 124 125  126    127 | 128

arr2d = np.array([[0,1,2,3,4,], [1000,-130,130, -128 , 127]], dtype = 'i1')
print("data type : " , arr2d.dtype)
print("array : ", arr2d)

data type :  int8
array :  [[   0    1    2    3    4]
 [ -24  126 -126 -128  127]]

In [26]:
1000%128

104

In [27]:
-128+104

-24

In [ ]:
#  0 to 255

In [28]:
# Unsigned Integer data-type

arr2d = np.array([[0,1,2,3,4,], [5,6,7,8,9]], dtype = 'u1')
print("data type : " , arr2d.dtype)
print("array : ", arr2d)

data type :  uint8
array :  [[0 1 2 3 4]
 [5 6 7 8 9]]

In [ ]:
270%255

In [ ]:
# 0 1 2 3 .... 255

In [29]:
arr2d = np.array([[0,1,2,3,4,], [5,6,7,-1,270]], dtype = 'u1') # 256, 260
print("data type : " , arr2d.dtype)
print("array : ", arr2d)

data type :  uint8
array :  [[  0   1   2   3   4]
 [  5   6   7 255  14]]

In [ ]:
# What did you noticed ?????

In [30]:
# Convert data from Integer into String

arr2d = np.array([[0,1,2,3,4,], [5,6,7,8,255]], dtype = 'U') # Unicode String
print("data type : " , arr2d.dtype)
print("array : ", arr2d)

data type :  <U3
array :  [['0' '1' '2' '3' '4']
 ['5' '6' '7' '8' '255']]

In [31]:
# Convert data from string into int16

tempArr = np.array(["10", "20", "30", "40", "50"], dtype=np.int16)
print(tempArr)
print(tempArr.dtype)

[10 20 30 40 50]
int16

In [32]:
# Convert data from string into float16

tempArr = np.array(["10", "20", "30", "40", "50"], dtype='f2')
print(tempArr)
print(tempArr.dtype)

[10. 20. 30. 40. 50.]
float16

In [33]:
tempArr = np.array(["10", "20", "30", "40", "50_0"], dtype=np.uint16)
print(tempArr)
print(tempArr.dtype)

[ 10  20  30  40 500]
uint16

In [34]:
# #Convert from string into unsigned integer

tempArr = np.array(["10", "20", "30", "40", "50_w"], dtype=np.uint16)
print(tempArr)
print(tempArr.dtype)

ValueError: ignored

In [ ]:
# If a type is given in which elements can't be casted then NumPy will raise a ValueError.

In [36]:
x=1000_000_000
print(x)

n=98658745235
print(f"{n:_}")

1000000000
98_658_745_235

# Array Creation Routines

**numpy.empty**

In [ ]:
import numpy as np

In [37]:
# np.empty(shape, dtype)
# It creates an uninitialized array of specified shape and dtype.
# The elements in an array show random values as they are not initialized.

np.empty(shape=(3,8), dtype= np.float16)

array([[-2.242e+02, -6.181e+01,  1.784e+02,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00],
       [ 6.139e-06,  0.000e+00,  5.782e-06,  0.000e+00,  6.437e-06,
         0.000e+00,  1.907e-06,  0.000e+00],
       [ 6.855e-06,  0.000e+00,  6.020e-06,  0.000e+00,  6.020e-06,
         0.000e+00,  6.378e-06,  0.000e+00]], dtype=float16)

In [40]:
np.empty(shape=(3,8), dtype= np.uint8)

array([[133, 115, 218, 211, 147,  89,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0],
       [ 32,   0,   0,   0,   0,   0,   0,   0]], dtype=uint8)

**numpy.zeros**

In [41]:
# np.zeros
# Returns a new array of specified size, filled with zeros.
# Default dtype is float

np.zeros(5)

array([0., 0., 0., 0., 0.])

In [42]:
np.zeros(shape=(5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [43]:
np.zeros(shape=(3,5,5))

array([[[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

**numpy.ones**

In [44]:
# np.ones
# Returns a new array of specified size and type, filled with ones.
# Default dtype is float
np.ones(shape = 5)

array([1., 1., 1., 1., 1.])

In [45]:
np.ones(shape = (4, 5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

# NumPy - Array Attributes

**ndarray.shape**

In [46]:
arr = np.array([1,2,3,4])

print(arr)
print(arr.shape)

[1 2 3 4]
(4,)

In [47]:
arr = np.array([[1,2,3,4], [5,6,7,8]])

In [48]:
arr

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [49]:
# This array attribute returns a tuple consisting of array dimensions
arr.shape

(2, 4)

In [50]:
# ndarray.shape can be used to reshape the array.
arr.shape = (4,2)

In [51]:
print(arr)
print(arr.shape)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
(4, 2)

In [52]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

numpy.arang(srart, end, steps)

In [53]:
a = np.arange(0,10)
print(a)
print(a.shape)

[0 1 2 3 4 5 6 7 8 9]
(10,)

In [54]:
a.shape = (2,5)
print(a)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [55]:
a.shape = (10,)

In [56]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
a = np.arange(0,24)
print("array : ",a)
print("shape : " ,a.shape)

array :  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
shape :  (24,)

In [58]:
print("reshap array into 2D")
a.shape = (8,3) #(4,6) # (2,12)
print("reshap array: \n" ,a)

reshap array into 2D
reshap array:
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]]

In [ ]:
# [ 0  0  0 ] 3,

# [[ 0  0  0 ]
#  [ 0  0  0 ] ] 2X3


# [ [ 0  0  0 ]
#   [ 0  0  0 ]
#   [ 0  0  0 ] ] 3X3


# [ [ [ 0  0  0 ]
#     [ 0  0  0 ]
#     [ 0  0  0 ] ]
#
#    [[ 1  1  1 ]
#     [ 1  1  1 ]      number of arrays X number of rows X number of columns
#     [ 1  1  1 ] ] ]          2        X         3      X         3
#
#

In [59]:
print("reshap array into 3D")
a.shape = (2,4,3)
print("reshap array: \n" ,a)

reshap array into 3D
reshap array:
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]
  [18 19 20]
  [21 22 23]]]

In [63]:


print("\n return into the original shape")
a.shape = (24,)
print(a)

 return into the original shape
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

numpy.itemsize

In [62]:
# This array attribute returns the length of each element of array in bytes.
a.itemsize

8

In [64]:
a.size

24

# Numpy Array Indexing and Slicing

Integer Slicing

In [ ]:
import numpy as np

In [65]:
arr = np.arange(25)

In [66]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [67]:
arr[10]

10

In [68]:
arr[2:11]

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [70]:
arr[2:11:2]

array([ 2,  4,  6,  8, 10])

In [71]:
arr = arr.reshape(5,5)

In [72]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [73]:
arr[1]

array([5, 6, 7, 8, 9])

In [74]:
arr[1][2]

7

In [75]:
arr[0][1]

1

In [76]:
arr[0,1]

1

In [77]:
arr[0, 4]

4

In [78]:
print("number of dimensions : " ,arr.ndim)
print("shape of the array : ", arr.shape)
print("number of dimensions : " ,len(arr.shape))

number of dimensions :  2
shape of the array :  (5, 5)
number of dimensions :  2

In [79]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
arr[ 0 , 1:4]

In [ ]:
arr[0:2]

In [ ]:
arr[0:2, 1:4]

In [ ]:
# we have 3 dimensions
# arr[ first dimension , second dimension , third dimension] |or| arr[first dimension][second dimension][third dimension]
# for each dimension start : end : steps

In [80]:
arr = np.arange(27).reshape(3,3,3)

In [81]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [82]:
arr[0]

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [83]:
arr[0,1]

array([3, 4, 5])

In [84]:
arr[0, 1, -1]

5

In [ ]:
arr[1, 2, 1]

In [85]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [86]:
# Access to the 4 value in array

print(arr[0][1][1])

4

In [87]:
# another solution

print(arr[0 , 1 , 1])

4

In [88]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [89]:
# access to [[ 0,  1,  2],
#           [ 3,  4,  5]]

arr[0, 0:2, :]

array([[0, 1, 2],
       [3, 4, 5]])

In [90]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [91]:
# access to [[15, 16]] list

arr[1, 2, 0:2]

array([15, 16])

In [92]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [93]:
# access to [[18, 19, 20],
#           [21, 22, 23]]

arr[2, 0:2]

array([[18, 19, 20],
       [21, 22, 23]])

In [94]:
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [95]:
# acces to [18, 21]

arr[-1, 0:2, 0]

array([18, 21])

In [96]:
# access to first two columns in all rows

arr[:, :, 0:2]

array([[[ 0,  1],
        [ 3,  4],
        [ 6,  7]],

       [[ 9, 10],
        [12, 13],
        [15, 16]],

       [[18, 19],
        [21, 22],
        [24, 25]]])

In [98]:
arr = np.arange(125)
arr.shape = (25,5)

In [99]:
arr

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54],
       [ 55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64],
       [ 65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74],
       [ 75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84],
       [ 85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94],
       [ 95,  96,  97,  98,  99],
       [100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124]])

In [100]:
# access to all items in first column

arr[:, 0]

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100, 105, 110, 115, 120])

In [101]:
# access to all items in first column with step 3

arr[::3, 0]

array([  0,  15,  30,  45,  60,  75,  90, 105, 120])

In [ ]:
arr

In [ ]:
# Task
# write python to access to the following list : [ 4, 14, 24, 34, 44, 54, 64, 74]
#

In [103]:
arr[0:16:2, -1]

array([ 4, 14, 24, 34, 44, 54, 64, 74])

Boolean Array Indexing

In [ ]:
arr = np.arange(100)
arr = arr.reshape(10,10)
print(arr)

In [ ]:
# check all values in array if greater than 50
# return array of boolean values

arr > 50

In [ ]:
# return values that have True value
arr[arr > 50]

In [ ]:
# Create array with nan value
arr = np.array([np.nan , 1 , 2, np.nan , 3 , 4 , 5 , np.nan,])

In [ ]:
arr

In [ ]:
type(np.nan)

In [ ]:
# Check nan values in array
# return boolean array

np.isnan(arr)

In [ ]:
# return nan values
arr[np.isnan(arr)]

In [ ]:
# return not nan values

~ np.isnan(arr)

In [ ]:
arr[~np.isnan(arr)]

# NumPy - Broadcasting

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([[0.0,0.0,0.0],[10.0,10.0,10.0],[20.0,20.0,20.0],[30.0,30.0,30.0]])
arr2 = np.array([1.0,2.0,3.0])

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1 + arr2

# NumPy – Array Manipulation

**1- Resahpe arrays**

In [ ]:
import numpy as np

ndarrray.reshape

In [ ]:
arr = np.arange(100)

In [ ]:
arr.reshape(5,2,10)

In [ ]:
arr.shape

In [ ]:
arr.shape = (5,2,10)

In [ ]:
arr

In [ ]:
arr.shape

In [ ]:
arr = arr.reshape(10, 10)

In [ ]:
arr.shape

In [ ]:
arr

ndarray.flatten

In [ ]:
arr

In [ ]:
arr[:, 0]

In [ ]:
list_flatten = []
for row in arr:
  list_flatten.extend(row)

print(list_flatten)

In [ ]:
arr.shape[1]

In [ ]:
list(range(arr.shape[1]))

In [ ]:
arr

In [ ]:
list_flatten = []
for column_idx in range(arr.shape[1]):
  list_flatten.extend(arr[:, column_idx])

print(list_flatten)

In [ ]:
arr.flatten(order="C")  # C : C style (Default) , F : Fortan style

In [ ]:
arr.flatten(order="F")

In [ ]:
arr.shape

In [ ]:
arr.ravel()

In [ ]:
arr1 = np.arange(25).reshape(5,5)

In [ ]:
arr2 = np.arange(25).reshape(5,5)

In [ ]:
arr1.flatten()

In [ ]:
arr1.shape

In [ ]:
arr2.ravel(order = 'F')

In [ ]:
arr2.shape

In [ ]:
arr1.reshape(-1,)

In [ ]:
# flatten always returns a copy.
# reval returns a view of the original array whenever possible

ndarray.T | ndarray.transpose

In [ ]:
arr = np.arange(10).reshape(5,2)

In [ ]:
arr

In [ ]:
arr.T

In [ ]:
arr.transpose()

In [ ]:
arr

In [ ]:
arr = arr.T

In [ ]:
arr

**2- Joining arrays**

**2.1** Concatenate

In [ ]:
arr1 = np.arange(6).reshape(2,3)
arr2 = np.arange(6,12).reshape(2,3)

print(arr1)
print()
print(arr2)

In [ ]:
arr1.shape

In [ ]:
# concate on axis 1
arr_conc = np.concatenate((arr1, arr2), axis=1)

print(arr_conc)
print(arr_conc.shape)

In [ ]:
# [[0 1 2]
#  [3 4 5]]

# [[ 6  7  8]
#  [ 9 10 11]]

# [[0 1 2 6  7  8]
#  [3 4 5 9 10 11]]
#
#

In [ ]:
# concate on axis 0
arr_conc = np.concatenate((arr1, arr2), axis=0)

print(arr_conc)
print(arr_conc.shape)

In [ ]:
# [[0 1 2]
#  [3 4 5]]

# [[ 6  7  8]
#  [ 9 10 11]]

# [[0 1 2]
#  [3 4 5]]
# [ 6  7  8]
# [ 9 10 11]

In [ ]:
arr_t1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr_t1)
print(arr_t1.shape)

arr_t2 = np.array([[9, 10, 11, 12, 13], [13, 14, 15, 16, 17]])
print(arr_t2)
print(arr_t2.shape)

In [ ]:
# concate tow arrays on axis 0  with different shape
np.concatenate([arr_t1, arr_t2], axis=0)

In [ ]:
# concate tow arrays on axis 1  with different shape
np.concatenate([arr_t1, arr_t2], axis=1)

**2.2** stack

In [ ]:
a1 = np.arange(5)
a2 = np.arange(5,10)

print("arr 1 : \n",a1)
print(a1.shape)
print()
print("arr 2 : \n",a2)
print(a2.shape)

In [ ]:
stacked_arr_0 = np.stack([a1, a2], axis=0)
print("stacked array on axis 0 : \n",stacked_arr_0 )
print(stacked_arr_0.shape)

In [ ]:
print("arr 1 : \n",a1)
print()
print("arr 2 : \n",a2)

In [ ]:
np.concatenate([a1,a2], axis=0)

In [ ]:
stacked_arr_1 = np.stack([a1, a2], axis=1)
print("stacked array on axis 1 : \n",stacked_arr_1 )
print(stacked_arr_1.shape)

**2.3** horizontal stack

In [ ]:
np.hstack([a1,a2])

In [ ]:
np.concatenate([a1, a2], axis=0)

**2.4** vertical stack

In [ ]:
np.vstack([a1,a2])

In [ ]:
print(a1)
print(a2)

In [ ]:
np.concatenate([a1, a2], axis=1)

stack 2D arrays

In [ ]:
print("arr 1 : \n",arr1)
print(arr1.shape)
print()
print("arr 2 : \n",arr2)
print(arr2.shape)

In [ ]:
#
#   [[0 1 2]
#  [3 4 5]]
#
#  [[ 6  7  8]
#  [ 9 10 11]]
#
# [ [ [0 1 2]
#   [3 4 5]
#          ]
# [[ 6  7  8]
#  [ 9 10 11]] ]
#
#
#

In [ ]:

# stack 2D arrays
stacked_arr_0 = np.stack([arr1, arr2], axis=0)
print("stacked array on axis 0 : \n",stacked_arr_0 )
print(stacked_arr_0.shape)

In [ ]:
# stack 2D arrays

stacked_arr_1 = np.stack([arr1, arr2], axis=1)
print("stacked array on axis 1 : \n",stacked_arr_1 )
print(stacked_arr_1.shape)

In [ ]:
#
#   [[0 1 2]
#  [3 4 5]]
#
#  [[ 6  7  8]
#  [ 9 10 11]]
#
# [ [ [0 1 2]
#   [ 6  7  8]
#          ]
# [[3 4 5]
#  [ 9 10 11]] ]

In [ ]:
# Define a new array
arr3 = np.arange(12,18).reshape(2,3)
print(arr3)

In [ ]:
print("arr 1 : \n" , arr1)
print("arr 2 : \n" , arr2)
print("arr 3 : \n" , arr3)

In [ ]:
# vertical stack on 2D arrays
a = np.vstack([arr1, arr2, arr3])
print(a)
print(a.shape)

In [ ]:
# concatenate 2D arrays on axis 0
a = np.concatenate([arr1, arr2, arr3], axis=0)
print(a)
print(a.shape)

In [ ]:
print("arr 1 : \n" , arr1)
print("arr 2 : \n" , arr2)
print("arr 3 : \n" , arr3)

In [ ]:
# horizontal stack n 2D arrays
a = np.hstack([arr1, arr2, arr3])
print(a)
print(a.shape)

In [ ]:
# concatenate on axis 1
a = np.concatenate([arr1, arr2, arr3], axis=1)
print(a)
print(a.shape)

In [ ]:
# Define a new array
arr4 = np.arange(18, 24).reshape(2,3)
print(arr4)

In [ ]:
print("arr 1 : \n" , arr1)
print(arr1.shape)

print()

print("arr 2 : \n" , arr2)
print(arr2.shape)
print()

print("arr 3 : \n" , arr3)
print(arr3.shape)
print()

print("arr 4 : \n" , arr4)
print(arr4.shape)

In [ ]:
# stack 2 of 2D arrays
a = np.stack([arr1, arr2])
print(a)
print(a.shape)

In [ ]:
# stack 3 of 2D arrays

a = np.stack([arr1, arr2, arr3])
print(a)
print(a.shape)

In [ ]:
# stack 4 of 2D arrays

a = np.stack([arr1, arr2, arr3, arr4])
print(a)
print(a.shape)

![image.png]()

**3- Splitting arrays**

**3.1** split 1D array

In [ ]:
import numpy as np

In [ ]:
arr = np.arange(12)
print(arr)
print(arr.shape)

In [ ]:
# Split the array in 2 equal-sized subarrays
np.split(arr, 2, axis=0)

In [ ]:
# Split the array in 3 equal-sized subarrays
np.split(arr, 3, axis=0)

In [ ]:
# Split the array in 4 equal-sized subarrays
np.split(arr, 4, axis=0)

In [ ]:
np.split(arr, 4, axis=1)

In [ ]:
np.split(arr, 5)

In [ ]:
arr

In [ ]:
# Split the array at positions
np.split(arr,[4,7,9])

In [ ]:
np.hsplit(arr, 2)

In [ ]:
np.vsplit(arr, 2)

**3.2** split 2D arrays

In [ ]:
a = np.arange(100).reshape(10,10)

In [ ]:
print(a)
a.shape

In [ ]:
np.split(a, 2, axis=0)

In [ ]:
print(np.split(a, 2, axis=0)[0])

print("\n", "="*20, "\n")

print(np.split(a, 2, axis=0)[1])

In [ ]:
# Split array vertically
np.vsplit(a, [2,5])

In [ ]:
# Split array horizontally
np.hsplit(a, [2,4,8])

In [ ]:
 bnp.split(a, 2, axis=1)

In [ ]:
print(np.hsplit(a, 2)[0])

print("\n", "=" *20 ,"\n")

print(np.hsplit(a, 2)[1])

**4- Adding \ Removig Elements**

**4.1**- resize

In [ ]:
import numpy as np

In [ ]:
a = np.array([[1,2,3],[4,5,6]])

In [ ]:
a.shape

In [ ]:
a

In [ ]:
np.resize(a,(3,4))

In [ ]:
np.resize(a,(3,8))

In [ ]:
np.resize(a,(2,2))

In [ ]:
a

In [ ]:
res = np.resize(a,(6,5))
print(res)
print(res.shape)

4.2- Append

In [ ]:
a

In [ ]:
np.append(a, [7,8,9])

In [ ]:
np.append(a, [[7,8,9]], axis=0)

In [ ]:
a

In [ ]:
np.append(a, [[7,8,9]], axis=1)

In [ ]:
a

In [ ]:
np.array([[10, 10, 10],[20,20, 20]]).shape

In [ ]:
np.append(a, [[10, 10, 10],[20,20, 20]], axis = 0)

In [ ]:
np.append(a, [[10, 10],[20,20]], axis = 0)

In [ ]:
np.append(a, [[10],[20]], axis = 1)

**4.3**- Insert

In [ ]:
a

In [ ]:
a.flatten()

In [ ]:
# # Array flattened before insert operation as axis not used

np.insert(a , 2 , [1,1,1])

In [ ]:
a

In [ ]:
np.insert(a , 1 , [1,1,1], axis = 0)

In [ ]:
a

In [ ]:
np.insert(a , 2 ,[[1,1]], axis = 1)

**4.4**- Delete

In [ ]:
a = np.arange(12).reshape(3,4)
print(a)

In [ ]:
a.flatten()

In [ ]:
# Array flattened before delete operation as axis not used
np.delete(a,5)

In [ ]:
a

In [ ]:
np.delete(a , 2 ,axis = 1)

In [ ]:
a

In [ ]:
np.delete(a,2, axis=0)

In [ ]:
a = np.arange(27).reshape(3,3,3)

In [ ]:
print(a)
print(a.shape)

In [ ]:
# Delete from axis 0 will remove array with specified index
outputArr = np.delete(a, 1 ,  axis=0)
print(outputArr)
print(outputArr.shape)

In [ ]:
a

In [ ]:
# Delete from axis 1 will remove row with specified index
outputArr = np.delete(a, 1 ,  axis=1)
print(outputArr)
print(outputArr.shape)

In [ ]:
a

In [ ]:
# Delete from axis 2 will remove column with specified index
outputArr = np.delete(a, 1 ,  axis=2)
print(outputArr)
print(outputArr.shape)

In [ ]:
a = np.arange(125).reshape(5,5,5)
print(a)
print(a.shape)

In [ ]:
a.flatten()

In [ ]:
# When don't use axis parameter input and output is a flattened array
# Delete sub-array using slicing without detect axis
outputArr = np.delete(a, np.s_[30:90:3])
print(outputArr)
print(outputArr.shape)

In [ ]:
a

In [ ]:
# Delete sub-arrays using slicing with  axis 0
outputArr = np.delete(a, np.s_[1::2] , axis=0)
print(outputArr)
print(outputArr.shape)

In [ ]:
# Delete rows from all arrays
outputArr = np.delete(a, np.s_[1::2] , axis=1)
print(outputArr)
print(outputArr.shape)

In [ ]:
# Delete columns from all arrays
outputArr = np.delete(a, np.s_[1::2] , axis=2)
print(outputArr)
print(outputArr.shape)

**4.5**- Unique

In [ ]:
a = np.array([5,2,6,2,7,5,6,8,2,9,9,8,9])
print(a)

In [ ]:
# Return list of unique values in an array
# Will be flattened if not 1-D array
np.unique(a)

In [ ]:
# if return_index = True
# Return unique values in an array and Indices array
# returns the indices of elements in the input array
np.unique(a, return_index = True)

In [ ]:
# if return_inverse = True
# Return unique values in an array
# returns the indices of unique array, which can be used to reconstruct the input array
newArr, indecies = np.unique(a,return_inverse = True)

In [ ]:
print(a)
print()
print(newArr)
print()
print(indecies)

In [ ]:
# Reconstruct the original array using indices
newArr[indecies]

In [ ]:
# if return_counts = True
# Return the count of repetitions of unique element
# Rturns the number of times the element in unique array appears in the original array
np.unique(a,return_counts = True)

In [ ]:
uniArr, uniArrIndecies, revIndecies, uniCounter =  np.unique(a, return_index = True,return_inverse = True,return_counts = True)

In [ ]:
print("original array :                           ", a )
print("unique values :                            " , uniArr)
print("indeces for unique values :                ", uniArrIndecies)
print("indecies for reconstruct original array :  ", revIndecies)
print("number of repetitions for each values :    ", uniCounter)

In [ ]:
# Explain

# original array :
#   0   1   2   3   4   5   6   7   8   9  10   11  12
# [ 5 , 2 , 6 , 2 , 7 , 5 , 6 , 8 , 2 , 9 , 9 ,  8 ,  9  ]


# unique array
#   0   1   2   3   4   5
# [ 2 , 5 , 6 , 7 , 8 , 9 ]


# indecies for unique values :
#   0   1   2   3   4   5
# [ 1 , 0 , 2 , 4 , 7 , 9 ]


# indecies for reconstruct original array
#   0   1   2   3   4   5   6   7   8   9  10   11  12
# [ 1 , 0 , 2 , 0 , 3 , 1 , 2 , 4 , 0 , 5 , 5 , 4 , 5 ]


# []

# number of repetitions for each values :
# unique array : [2 5 6 7 8 9]
# repititions  : [3 2 2 1 2 3]

# Arithmetic Operations

In [ ]:
a = np.arange(9, dtype = np.float_).reshape(3,3)
b = np.array([10,10,10])

In [ ]:
print(a)
print()
print("=" *30)
print()
print(b)

In [ ]:
print("Add the two arrays")
print(np.add(a,b) )
print()

print("Subtract the two arrays")
print(np.subtract(a,b))
print()

print("Multiply the two arrays")
print( np.multiply(a,b))
print()

print("Divide the two arrays")
print(np.divide(a,b))

# Statistical Functions

Min & Max

In [ ]:
import numpy as np

In [ ]:
a = np.array([[3,40,5],[8,4,39],[-2,4,99]])
print(a)
print(a.shape)

[[ 3 40  5]
 [ 8  4 39]
 [-2  4 99]]
(3, 3)

In [ ]:
# Get maximum value in array
np.amax(a)

99

In [ ]:
# Get maximum value in axis 0
# Return maximum value in each column
np.amax(a, axis=0)

array([ 8, 40, 99])

In [ ]:
# Get maximum value in axis 1
# Return maximum value in each row
np.amax(a, axis=1)

array([40, 39, 99])

In [ ]:
# Get minimum value in array
print("minimum value in all array ", np.amin(a))

# Get minimum value in axis 0
# Return minimum value in each column
print("minimum value in each column", np.amin(a, axis=0))

# Get minimum value in axis 1
# Return minimum value in each row
print("minimum value in each row", np.amin(a, axis=1))

minimum value in all array  -2
minimum value in each column [-2  4  5]
minimum value in each row [ 3  4 -2]

In [ ]:
l = [[3,40,5],[8,4,39],[-2,4,99]]

# 'list' object has no attribute 'max'
#  if we use max() bulit-in function to try to get maximum value in the list
max(l)

# max() will return list that have max value in first index

[8, 4, 39]

Median

In [ ]:
a

array([[ 3, 40,  5],
       [ 8,  4, 39],
       [-2,  4, 99]])

In [ ]:
np.sort(a.flatten())

array([-2,  3,  4,  4,  5,  8, 39, 40, 99])

In [ ]:
print("Original array : \n",a)
print()
# Get median value
print("Meadian value : ", np.median(a))
print()

# Get median value along axis 0
print("Median value along axis 0 : ", np.median(a, axis = 0))
print()

# Get median value along axis 1
print("Median value along axis 1 : ", np.median(a, axis = 1))

Original array :
 [[ 3 40  5]
 [ 8  4 39]
 [-2  4 99]]

Meadian value :  5.0

Median value along axis 0 :  [ 3.  4. 39.]

Median value along axis 1 :  [5. 8. 4.]

Mean

In [ ]:
print("mean value for all values in array : ", np.mean(a))
print("mean value for values along axis 0 : ", np.mean(a, axis = 0))
print("mean value for values along axis 1 : ", np.mean(a, axis = 1))

mean value for all values in array :  22.22222222222222
mean value for values along axis 0 :  [ 3.         16.         47.66666667]
mean value for values along axis 1 :  [16.         17.         33.66666667]

Average

In [ ]:
a = np.array([5,9,3,4,6,7])

In [ ]:
# Get average for values in array
np.average(a)

# (5 + 9 + 3 + 4 + 6 + 7)/ 6

5.666666666666667

In [ ]:
# Average function has weights attribute
# where the weight for each value will be computed as the following

np.average(a, weights=[1, 5, 3 ,7, 5, 9])

# ( ( 5 * 1) + ( 9 * 5 ) + ( 3 * 3 ) + ( 4 * 7) + ( 6 * 5 ) + ( 7 * 9 ) ) / (1 + 5 + 3 + 7 + 5 + 9)

6.0

In [ ]:
( ( 5 * 1) + ( 9 * 5 ) + ( 3 * 3 ) + ( 4 * 7) + ( 6 * 5 ) + ( 7 * 9 ) ) / (1 + 5 + 3 + 7 + 5 + 9)

6.0

In [ ]:
# In a multi-dimensional array, the axis for computation can be specified

a = np.arange(9).reshape(3,3)
print("array : \n", a)
print()

w = [10, 5, 9]
print("wigths : ", w)
print()


print("Weighted average along axis 0 : ", np.average(a, weights=w, axis = 0))
print()


print("Weighted average along axis 1 : ", np.average(a, weights=w, axis = 1))

array :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]

wigths :  [10, 5, 9]

Weighted average along axis 0 :  [2.875 3.875 4.875]

Weighted average along axis 1 :  [0.95833333 3.95833333 6.95833333]

In [ ]:
np.average( np.array([0, 1 ,2]), weights=[10, 5, 9])

0.9583333333333334

In [ ]:
( ( 2 * 10 ) + ( 5 * 5 ) + ( 8 * 9 ) )/ ( 10 + 5 + 9)

4.875

Variance & Standard Deviation

In [ ]:
print("array : ", a)
print()


# Variance formula
# mean(abs(x - x.mean())**2)
print("Variance value for ", np.var(a))

# Standard deviation formula
# std = sqrt(mean(abs(x - x.mean())**2))
print("Standard deviation value : ", np.std(a))

array :  [[0 1 2]
 [3 4 5]
 [6 7 8]]

Variance value for  6.666666666666667
Standard deviation value :  2.581988897471611

# NumPy I/O

Save array as npy file

In [ ]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
# Save array in a disk file with npy extension
np.save("output_array", a)

In [ ]:
# Load array from npy file
arr = np.load("output_array.npy")

In [ ]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])