## **Basic Syntax**

In [ ]:
print('Welcome to Machine Learning Course')

In [ ]:
print("Welcome to Machine Learning Course \
Welcome to Machine Learning Course     \
Welcome to Machine Learning Course Welcome to Machine Learning Course")

In [ ]:
print("Welcome \t to Machine Learning Course \n  Hello everyone")

In [ ]:
print(" Welcome to Machine Learning Course\
        Hello everyone \
\
        Mahmmoud\
        \
        "
        )

In [ ]:
print(""" Welcome to Machine Learning Course
        Hello everyone

        Mahmmoud

        """
        )

In [ ]:
print("Welcome", "to", "Machine", "Learning", "Course")

In [ ]:
print("Welcome", "to", "Machine", "Learning", "Course", sep=" ")

In [ ]:
print("Welcome", "to", "Machine", "Learning", "Course", sep="=")

In [ ]:
print("Welcome"+"to"+ "Machine"+ "Learning"+ "Course", sep="_")

In [ ]:
print("Welcome"+"to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", "TEST")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", "TEST", sep="-")

In [ ]:
print("TEST", "Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", "TEST", sep="-")

# Output: TEST-WelcometoMachineLearningCourse-TEST

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="\n")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="\n")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end=" ")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="_")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course",end=" ")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="\n\n")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="#")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
print("Welcome", "to", "Machine", "Learning", "Course", sep = "_", end=" ")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", sep = "_", end="\n\n")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course", end="#")
print("Welcome"+ "to"+ "Machine"+ "Learning"+ "Course")

In [ ]:
input()

In [ ]:
input('Enter you name : ')

In [ ]:
input("Enter you age : ")

# **Comment**

In [ ]:
# This input for age
input()

In [ ]:
# print("Hi")

In [ ]:

"""This code will do the follwing

1- Recieve data
2- process data
3- save data into database
"""

print("recieve data")

In [ ]:
5

In [ ]:
"""
counter = 0
print()
if counter == 0 :
  print(True)
else :
  print(False)
"""

![comments meme.jpeg]()

# **Variables**

In [2]:
x = 10
X = 20

In [5]:
x

10

In [6]:
print(X)

20

In [7]:
y = z = f= 50

In [8]:
print(y)
print(z)
print(f)

50
50
50

In [9]:
a= 70
b="80"
c=90.0

In [10]:
a,b,c = 70, "80", 90.0

In [11]:
b

'80'

In [12]:
int(b)

80

In [13]:
b

'80'

In [14]:
int_b = int(b) # Convert data type from str to int

In [15]:
type(b)

str

In [16]:
type(int_b)

int

In [17]:
c

90.0

In [18]:
type(c)

float

In [19]:
int(c)

90

In [20]:
d = "60.9"

In [21]:
float(d)

60.9

In [22]:
d

'60.9'

In [23]:
int(d)

ValueError: ignored

In [24]:
int(float(d))

60

In [26]:
# Error
# int("50.0")
int(float("50.0"))

50

In [27]:
# Error
float("50a")

ValueError: ignored

In [28]:
float(5)

5.0

In [29]:
age = input("Enter your age : ")

Enter your age : 26

In [30]:
age

'26'

In [31]:
int(age)

26

In [33]:
age = int(input("Enter your age : "))
age

Enter your age : 26

26

In [40]:
height = int(input("Enter your height : "))
height

Enter your height : 1.65

ValueError: ignored

In [36]:
y = eval(input("enter number : "))
print(type(y))

enter number : 187
<class 'int'>

In [38]:
height = eval(input("Enter your height : "))
print(type(height))

Enter your height : 1.65
<class 'float'>

# **Operators**

In [41]:
# Arithmetic Operators ( + , - , * , / , % , ** , // )
print("Addition", "7 + 3 = ", 7 + 3)
print("Subtraction", "7 - 3 = ", 7 - 3)
print("Multiplication", "7 * 3 = ", 7 * 3)
print("division", "7 / 3 = ", 7 / 3)
print("Modulus", "7 % 3 = ", 7 % 3)
print("Exponentiation", "7 ** 3 = ", 7 ** 3)
print("Floor division", "7 // 3 = ", 7 // 3)

Addition 7 + 3 =  10
Subtraction 7 - 3 =  4
Multiplication 7 * 3 =  21
division 7 / 3 =  2.3333333333333335
Modulus 7 % 3 =  1
Exponentiation 7 ** 3 =  343
Floor division 7 // 3 =  2

In [42]:
# Comparison (Relational) Operators ( == , != , > , < , <= , >= )
print("Equal", "7 == 3 : ", 7 == 3)
print("Not Equal", "7 != 3 : ", 7 != 3)
print("Greater", "7 > 3 : ", 7 > 3)
print("Less", "7 < 3 : ", 7 < 3)
print("Greater or Equal", "7 >= 3 : ", 7 >= 3)
print("Less or Equal", "7 <= 3 : ", 7 <= 3)

Equal 7 == 3 :  False
Not Equal 7 != 3 :  True
Greater 7 > 3 :  True
Less 7 < 3 :  False
Greater or Equal 7 >= 3 :  True
Less or Equal 7 <= 3 :  False

In [43]:
# Assignment Operators ( = , += , -+ , *= , /= , %= , ** , //= )

v1 = 5
print("v1 = ",v1)

v1 =  5

In [44]:
v1+=4
# v1 = v1 + 4
print("v1+=4 = ",v1)

v1+=4 =  9

In [45]:
v1

9

In [46]:
v1-=4
print("v1-=4 = ",v1)

v1-=4 =  5

In [47]:
v1*=3
print("v1*=3 = ",v1)

v1*=3 =  15

In [48]:
v1/=2
print("v1/=2 = ",v1)

v1/=2 =  7.5

In [49]:
v1%=2
print("v1%=2 = ",v1)

v1%=2 =  1.5

In [50]:
v1**=3
print("v1**=2 = ",v1)

v1**=2 =  3.375

In [51]:
v1//=3
print("v1//=3 = ",v1)

v1//=3 =  1.0

In [57]:
# Logical Operators ( not , and , or )
print("================= AND =================")
print("True and True : ", True and True)
print("True and False : ", True and False)
print("False and True : ", False and True)
print("False and False : ", False and False)

print("================= OR =================")
print("True or True : ", True or True)
print("True or False : ", True or False)
print("False or True : ", False or True)
print("False or False : ", False or False)

print("================= NOT =================")
print("not True : ", not True)
print("not False : ", not False)

================= AND =================
True and True :  True
True and False :  False
False and True :  False
False and False :  False
================= OR =================
True or True :  True
True or False :  True
False or True :  True
False or False :  False
================= NOT =================
not True :  False
not False :  True

In [ ]:
x = 5
y = 7

x < 10 and y>5 and ( x<70 or y>18)

True and True and ( True or False)

True and True and True

True and True

True

In [ ]:
True and (not False and True)

True and (True and True)

True and True

True

In [ ]:
# What is the output ???
not True or (True and False or True) and False

In [ ]:
not True or (True and False or True) and False

not True or (False or True) and False

not True or True and False

False or True and False

False or False

False

In [ ]:
not True and not False or ( False or True or True )

In [ ]:
not True and not False or ( False or True or True )

not True and not False or ( True or True )

not True and not False or  True

False and not False or  True

False and True or  True

False or True

True

In [ ]:
True or False and False or True

In [ ]:
True or False and False or True

True or False or True

True or True

True

In [ ]:
True or True and not False or (True and not False)

In [ ]:
True or True and not False or (True and not False)


True or True and not False or (True and True)

True or True and not False or True

True or True and True or True

True or True or True

True or True

True

In [ ]:
# Bitwise Operators (& , | , ^ , ~ , << , >> )

In [58]:
60 & 13

12

In [59]:
a = 60            # 60 = 00111100
b = 13            # 13 = 00001101

In [60]:
bin(60)

'0b111100'

In [61]:
int(0b111100)

60

In [62]:
int(0b1100)

12

In [63]:
# AND &
# 60 & 13
#
# a = 60 = 0 0 1 1 1 1 0 0  &
# b = 13 = 0 0 0 0 1 1 0 1
# a&b    = 0 0 0 0 1 1 0 0

print(bin(a), "   ", a)
print(bin(b), "   ", b)
print(bin(a&b), "   ", a&b)

0b111100     60
0b1101     13
0b1100     12

In [64]:
# OR |

# a   = 0 0 1 1 1 1 0 0 |
# b   = 0 0 0 0 1 1 0 1
# a|b = 0 0 1 1 1 1 0 1

print(bin(a), "   ", a)
print(bin(b), "   ", b)
print(bin(a|b), "   ", a|b)

0b111100     60
0b1101     13
0b111101     61

In [65]:
a | b

61

In [66]:
# XOR ^
# 1 xor 0  => 1
# 1 xor 1 => 0
# 0 xor 0 => 0


# a   = 0 0 1 1 1 1 0 0
# b   = 0 0 0 0 1 1 0 1
# a^b = 0 0 1 1 0 0 0 1

print(bin(a), "   ", a)
print(bin(b), "   ", b)
print(bin(a^b), "   ", a^b)

0b111100     60
0b1101     13
0b110001     49

In [68]:
# NOT ~
# ~a = -(a+1)

# a   = 00111100
# ~a  = -(00111100 + 1)
# ~a  = -(00111101)

print(bin(a), "   ", a)
print(bin(~a), "   ", ~a)

0b111100     60
-0b111101     -61

In [67]:
print(~a)

-61

In [69]:
~ 50

-51

In [70]:
~ -3

-(-3+1)
-(-2)
2

2

In [71]:
~-2

# -( -2 + 1 )
# -(-1)
# 1

1

In [72]:
~ -31
# ~ -31 = - (-31 +1 )
# -( -30 )
# 30

30

In [73]:
# Apply not for b


# b   = 00001101
# ~b  = -(00001101 + 1)
# ~b  = -(0000001110)

print(bin(b), "   ", b)
print(bin(~b), "   ", ~b)

0b1101     13
-0b1110     -14

In [74]:
a

60

In [76]:
a << 2

240

In [77]:
# Lisft Shift <<

# a << 4 = a * 2^4

# a << 5 = a * 2^5

# a << 2 = a * 2^2
# 60 * 2^2
# 60 * 4
# 240

# 00111100 << 2
# 0011110000

# 00111100 << 4
# 001111000000

print(bin(a), "   ", a)
print(bin(a<<2), "   ", a<<2)

0b111100     60
0b11110000     240

In [79]:
a << 5

1920

In [78]:
60 * 2**5

1920

In [80]:
6 << 9

3072

In [81]:
6*  2 ** 9

3072

In [ ]:
bin(13)

In [ ]:
int(0b110100000)

In [ ]:
13 << 5

In [ ]:
# Apply lift shift for b
# b << 4 = b * 2^4

#13 * 2 ^ 4
# 13 * 16
# 208

# 1101 << 4
# 11010000

print(bin(b))
print(bin(b<<4), "  ", b << 4)

In [82]:
a << 2

240

In [83]:
a >> 2

15

In [84]:
# Right Shift >>
# a >> 2 = a / 2^2
# 60 / 2^2
# 60 / 4
# 15

# 00111100 >> 2
# 001111

print(bin(a), "   ", a)
print(bin(a>>2), "   ", a>>2)

0b111100     60
0b1111     15

In [85]:
# Apply Right shift for b
# b >> 2 = b / 2^2
# 13 / 4
# 3

# 1101 >> 2
# 0011
print(bin(b), "   ", b)
print(bin(b>>2), "   ", b>>2)

0b1101     13
0b11     3

In [86]:
int(0b0011)

3

In [87]:
64 >> 5

2

In [91]:
bin(64)

'0b1000000'

In [93]:
int(0b100000000000)

2048

In [ ]:
2**5

In [ ]:
64 / 2**5

In [ ]:
64 >> 4
 # 64 / 2^4

# **IF**

In [ ]:
studentGPA = input("Enter student GPA : ")

In [ ]:
type(studentGPA)

In [ ]:
studentGPA

In [ ]:
studentGPA = int(studentGPA)

In [ ]:
# Blloean expression
studentGPA > 100

In [ ]:
# Enter student GPA
# Convert input into integer value
studentGPA = int(input("Enter student GPA : "))

if studentGPA > 100 or studentGPA <= 0:
  print()
  print("Invalid")

elif studentGPA >= 84:
  print("Exellent Degree")

elif studentGPA < 84 and studentGPA >= 77:
  print("Very Good Degree")

elif studentGPA < 77 and studentGPA >= 65:
  print("Good Degree")

elif studentGPA < 65 and studentGPA >= 61:
  print("Accepted Degree")

else :
  print("Fail")

In [ ]:
# Write a program to input a number and check whether a number is positive or negative.

num = int(input("enter a number : "))


if num == 0 :
  print("zero")
elif num>0:
  print("positive")
else:
  print("negative")

# **LOOP**

In [ ]:
"*" * 10

In [ ]:
"*" * 9

In [ ]:
# Wile Loop

i = 10

while i != 0 :

  # if i == 4 :
  #   break

  print("*" * i)
  i -= 1


print("While loop finished")

In [ ]:
# Range built-in function
list(range(10))

In [ ]:
5 in range(10)

In [ ]:
5 not in range(10)

In [ ]:
10 in range(10)

In [ ]:
# Foor Loop

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in range(10):
  print(num, end = ' ')

# num = 9
# output : 0 1 2 3 4 5 6 7 8 9
# is num is the last item ? True -> exit for else-> continuo


print()
print("Finish")

In [ ]:
# Foor Loop


list_char =["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

for char in list_char:

  print(char, end = ' ')


# char = j
# output : a b c d e f g h i  j
# char is a last item in a sequence ? True => exit loop , False => cont.


print()
print("Finish")

In [ ]:
list(range(10))

In [ ]:
# Range Function

# range(start_index, end_index, num_steps)

list(range(0,10,1))

In [ ]:
list(range(1,10,1))

In [ ]:
list(range(1,10,2))

In [ ]:
list(range(2,10,2))

In [ ]:
list(range(10,0, -1))

In [ ]:
list(range(50, 39, -1))

In [ ]:
list(range(50, 28, -2))

# **Numbers**

In [ ]:
import math

In [ ]:
n = -5
m = 6.5
x = 10

In [ ]:
print(abs(n)) # abs : return absolute value
print(math.ceil(m)) # The ceiling of m: the smallest integer not less than m
print(math.floor(m)) # The floor of m: the largest integer not greater than m.
print(math.exp(x)) # returns exponential of x: e^x
print(round(4.667, 2)) # value rounded to n digits from the decimal point

In [ ]:
math.e

In [ ]:
math.exp(5)
# math.e ** 5

In [ ]:
math.e ** 5

In [ ]:
math.ceil(9.1)

In [ ]:
math.ceil(9.0)

In [ ]:
abs(-6.5)

In [ ]:
math.fabs(-6.6)

In [ ]:
math.ceil(3.0001)

In [ ]:
math.floor(3.99)

In [ ]:
print(round(4.657, 1))

#**String**

In [ ]:
s1 = "Mahmoud"
listColors1 = "Red,Green,Blue "
listColors2 = "White,Black,Gray"

In [ ]:
#  0   1   2   3   4   5   6
#  M   a   h   m   o   u   d
# -7  -6  -5  -4  -3  -2  -1

In [ ]:
# slicing : [ start_index : end_index : num_steps ]
# if num_steps with negative value move backward if num_setps with positive value move forward
# if start index > end index => return ''

In [ ]:
# "Mahmoud"
s1[0: 3 : 1]

In [ ]:
s1[:4]

In [ ]:
s1[4 : ]

In [ ]:
s1

In [ ]:
s1[-5: :1]

In [ ]:
s1[-5: :-1]

In [ ]:
s1[2: : -1]

In [ ]:
s1[5 : : -2]

In [ ]:
# Question :
# ========================
# If s = "Aa1Bb2Cc3Dd4Ee5Ff5Gg6"

# Write Python to make

# sUpper = 'ABCDEFG'
# sLower = 'abcdefg'
# sNumbers = '1234556'

In [ ]:
s = "Aa1Bb2Cc3Dd4Ee5Ff5Gg6"

In [ ]:
sUpper = s[0::3]
print(sUpper)

In [ ]:
sLower = s[1::3]
print(sLower)

In [ ]:
sNumbers = s[2::3]
print(sNumbers)

In [ ]:
sUpper = ""
sLower = ""
sNumber = ""
for i in s :
  if i >= "A" and i <= "Z":
    sUpper += i # sUpper = sUpper + i

  if i >= "a" and i <= "z" :
    sLower += i

  if i>= "0" and i <= "9" :
    sNumber += i

print(sUpper)
print(sLower)
print(sNumber)

In [ ]:
listColors1

In [ ]:
listColors2

**Concatination**

In [ ]:
listColors1

In [ ]:
listColors2

In [ ]:
print(listColors1, listColors2, sep=",")

In [ ]:
# Concatination

listColors1 + "," + listColors2

**Sequence(string) length**

In [ ]:
# get length of string

len(listColors1)

In [ ]:
print(listColors1)
print(len(listColors1))

**strip**

In [ ]:
# Strip the string

print(" Mahmoud")
print(" Mahmoud".strip())

In [ ]:
print("          Mah    moud       ".strip())

In [ ]:
print(listColors1.strip())
print(len(listColors1.strip()))

In [ ]:
print(listColors1.strip(), listColors2, sep=",")

**Replace**

In [ ]:
listColors1

In [ ]:
# Replace Character with another

listColors1.replace(',', " ")

In [ ]:
listColors1

In [ ]:
"Sunday,Monday,Tuseday,".replace(',', '-')

In [ ]:
"Sunday,Monday,Tuseday,".replace(',', '-')[:-1]

In [ ]:
"Sunday,Monday,Tuseday,".replace(',', '-', 2)

In [ ]:
"Sunday,Monday,Tuseday,".replace(',', '-', 2)[:-1]

In [ ]:
"Sunday,Monday,Tuseday,".replace(",", " ")

In [ ]:
"Sunday,Monday,Tuseday,".replace(",", " ").strip()

In [ ]:
"Sunday,Monday,Tuseday,".replace(",", " ").strip().replace(" ", "-")

In [ ]:
"Sunday,Monday,Tuseday,".replace(",", "-").strip('-')

In [ ]:
# Sun - Mon - Tuse -

In [ ]:
"Sunday,Monday,Tuseday,".replace("day,", " - ")

In [ ]:
"Sunday,Monday,Tuseday,".replace("day,", " - ")[:-3]

In [ ]:
listColors1

**Find**

In [ ]:
# Find Function
# Return first index if there is a matching
# Return -1 if there is no matching

listColors1.find("Green")

In [ ]:
"Red, Green,Blue".find("Green")

In [ ]:
"Red, Green,Blue".find("green")

In [ ]:
"Red, Green,Blue".find("G")

In [ ]:
"Red,Green,Green, Blue".find("Green")

In [ ]:
listColors2

In [ ]:
listColors2.find("Black")

In [ ]:
listColors1.find("Black")

**split**

In [ ]:
listColors1

In [ ]:
# Split Function
# split() : return list

print(listColors1)
print(listColors1.split())
print(listColors1.split(' '))

In [ ]:
ss = "Red Green Blue"

In [ ]:
print(ss.split())

In [ ]:
listColors1

In [ ]:
listColors1.split()

In [ ]:
listColors1.split(',') # split on ','

In [ ]:
"Sunday,Monday,Tuseday,".split(",")

In [ ]:
"Sunday,Monday,Tuseday,"[:-1].split(",")

In [ ]:
"Sunday,Monday,Tuseday,".split("day")
# ['Sun', ',Mon', ',Tuse', ',']

In [ ]:
"Sun$day,Mon$day,Tuse$day,".split("$")

In [ ]:
# ['Sun', 'day,Mon', 'day,Tuse', 'day,']

In [ ]:
print(listColors1, "    type : ", type(listColors1))
print(listColors1.split(','), "    type : ", type(listColors1.split(','))) # split the string on ',' return the list

**join**

In [ ]:
listColors1.split(',')

In [ ]:
# Join

# split on ','
l = listColors1.split(',')
print(l)
# join list items using * character
# Join function recieve only sequence of items
print("_".join(l))

# ['Red', 'Green', 'Blue ']
# 'Red_Green_Blue'

In [ ]:
# ['Red', 'Green', 'Blue ']
# "_".join(['Red', 'Green', 'Blue '])
# Red_Green_Blue

In [ ]:
# split input : string , output : list
# join  input : list , output : string

In [ ]:
type(",".join(l))

In [ ]:
sTest = "Mahmoud Hammouri, Areen Adam, Aya sandooqa, Mays, Sara"

In [ ]:
sTest.split()

In [ ]:
sTest.replace(',', "").split()

In [ ]:
sTest.split()

In [ ]:
"_".join(sTest.split())

In [ ]:
"-".join(['Red', 'Green', 'Blue '])

In [ ]:
sTest.split(", ")

#**List**

In [ ]:
# Create lists

nums = [1, 2 , 3 , 4 , 5 , 6 , 7 ,8 , 9 , 10] # integer values

fruits = ["Apple", "Orange", "Banana", "Blueberry"] # string values

data = ["Mahmoud", 25, "CIS", 83.1] # int, string, float values

In [ ]:
fruits[-1]

In [ ]:
# Access to list elements
print(nums[0])
print(nums[3:8:2])
print(nums[3:-1])
print(nums[3:])
print(nums[-3: -1])

In [ ]:
print(nums[-3: ])

In [ ]:
nums

In [ ]:
# Add element to the list
nums.append("11")
print(nums)

In [ ]:
# Concate two lists
[1,3,"5",7] + [2,"4",6,8]

In [ ]:
# Extend

temp = [1,3,5,7]
temp.extend([2,4,6,8])
print(temp)


# [1,3,5,7] [2,4,6,8]
# [1,3,5,7, 2,4,6,8]

In [ ]:
# Try to append list
q = [1,3,5,7]
q.append([1,3,5,7])

In [ ]:
q

In [ ]:
len(q)

In [ ]:
nums

In [ ]:
nums[10]

In [ ]:
# Update list elements
nums[10]= 11 # Update single element
print(nums)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(nums)

In [ ]:
nums[:3]

In [ ]:
nums = ['1', '2', '3', '4', 5, 6, 7, 8, 9, 10, 11]

In [ ]:
nums[:4] = list(range(1,5))

In [ ]:
nums

In [ ]:
nums[:3] = ["1", "2", "3"] # Update multiple elements
print(nums)

In [ ]:
nums[:3]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(nums)

In [ ]:
nums[:3] = ["1", "2", "3", "4", "5"] # Update multiple elements
print(nums)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(nums)

In [ ]:
["1"]*3

In [ ]:
nums[:3] = ["1"]*3 # Update multiple elements
print(nums)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(nums)

In [ ]:
nums[:5] = ["1", "2", "3", "4", "5"] # Update multiple elements
print(nums)

In [ ]:
# Delete elements from lists
nums.remove(11) # Delete element by value
print(nums)

In [ ]:
del nums[-1] # Delete by index
print(nums)

In [ ]:
del nums[:3] # delete multiple elements using slicing
print(nums)

In [ ]:
print("list Length : ", len(nums))

In [ ]:
list_temp = list(range(1,21))
list_temp

In [ ]:
list_temp[0::2]

In [ ]:
del list_temp[0::2]

In [ ]:
list_temp

In [ ]:
nums

In [ ]:
nums.extend([5,5,5])
print(nums)

In [ ]:
# Count
print("Number of occurrences for 5  : " , nums.count("5"))

In [ ]:
print("Number of occurrences for 5  : " , nums.count(5))

In [ ]:
# Index
print("Index for 5 value is " , nums.index(5))

In [ ]:
nums

In [ ]:
# Insert by index
nums.insert(4,100)
print("Insert value at 4th index " , "nums => ", end = ' ')
print(nums)

In [ ]:
# nums.insert(1000)
# print(nums)

In [ ]:
nums = ['4', '5', 6, 7, 100, 8, 9, 5, 5, 5]

In [ ]:
r = nums.remove(5)

In [ ]:
nums

In [ ]:
print(r)

In [ ]:
nums

In [ ]:
# Pop
# remove and return value
p = nums.pop()

print("Pop last element ", "nums => ", nums)

In [ ]:
p

In [ ]:
nums

In [ ]:
# Reverse
print("Reverse list items : ", end = ' ')
nums.reverse()
print(nums)

In [ ]:
# Sort functions
# sort() method sorts the original list in-place

print("Sort list items : ", end = ' ')
nums = [100,88,1001, 8, 7, 6, 5, 5, 5]
nums.sort() # Sort list values from lower to higher
print(nums)

In [ ]:
# Sort list values from higher to lower
nums = [100,88,1001, 8, 7, 6, 5, 5, 5]
nums.sort(reverse=True)
print(nums)

In [ ]:
# Define list of strings
L=["Four","two","One","three","Five"]

# sorts the string elements alphabetically
# A < Z < a < z

L.sort()
print(L)

In [ ]:
# Question :
# What is the difference between nums.sort() and sorted(nums)


nums = [100,88,1001, 8, 7, 6, 5, 5, 5]
print("sorted nums : ", sorted(nums))

print("nums : " , nums)
nums.sort()
print("nums : ",nums)

In [ ]:
nums = [100,88,1001, 8, 7, 6, 5, 5, 5]

In [ ]:
nums

In [ ]:
nums.sort()

In [ ]:
nums

In [ ]:
nums = [100,88,1001, 8, 7, 6, 5, 5, 5]

In [ ]:
nums

In [ ]:
sorted(nums)

In [ ]:
nums

In [ ]:
sorted_nums = sorted(nums)

In [ ]:
sorted_nums

In [ ]:
nums

In [ ]:
sorted_nums = nums.sort()

In [ ]:
print(sorted_nums)

In [ ]:
nums

In [ ]:
# Task
# Print the file name and extention for the following path
path = "C:\\MLCourse\\Python\\Assignement\\data.txt"
# Solution :

In [ ]:
path.split("\\")

In [ ]:
file_name = path.split("\\").pop()

In [ ]:
file_name

In [ ]:
file_name.split(".")

In [ ]:
file_name.split(".")[0]

In [ ]:
file_name.split(".")[-1]

In [ ]:
#1 - split on '\\'
path.split("\\")

In [ ]:
# 2- access to the last element
path.split("\\")[-1]

In [ ]:
# 3- split on '.'
path.split("\\")[-1].split(".")

In [ ]:
path.split("\\")[-1].split(".")[0]

In [ ]:
path.split("\\")[-1].split(".")[-1]

In [ ]:
path.split("\\")[-1].split(".")

In [ ]:
# 4- save the output in varibles
fileName, extension = path.split("\\")[-1].split(".")

In [ ]:
print("file name : ", fileName)
print("file extension : ", extension)

In [ ]:
# Task
# Print the file name and extention for the following path
path = "C:\\MLCourse\\Python\\Assignement\\data.h.file.png"

In [ ]:
path.split("\\")

In [ ]:
path.split("\\")[-1]

In [ ]:
path.split("\\")[-1].split(".")

In [ ]:
path.split("\\")[-1].split(".")[-1]

In [ ]:
path.split("\\")[-1].split(".")[:-1]

In [ ]:
".".join(path.split("\\")[-1].split(".")[:-1])

In [ ]:
ll = [ 1,2, 3,4 , [4,4,4,4], 5,6]

In [ ]:
ll[3]

In [ ]:
ll[4]

In [ ]:
ll[4][0]

In [ ]:
ll[4][0:2]

#**Tuples**

In [ ]:
# Create tuple by add comma-seperated-values in ( )
colors = ("Red", "Orange", "Black", "White", "Blue", "Green", "Green")

In [ ]:
colors

In [ ]:
# Create tuple using "tuple" keyword and but comma-seperated-values in a list
colors = tuple(["Red", "Orange", "Black", "White", "Blue", "Green", "Green"])

In [ ]:
# Access tuple data
print(colors[1]) # using index
print(colors[:3]) # using slicing

In [ ]:
# get number ot items in tuple by length function
len(colors)

In [ ]:
# Concatination
(1,2,3) + (4,5,6)

In [ ]:
# Repetition
(1,2,3) * 3

In [ ]:
# Update value in tuple

# What's the output ?????
# colors[0]="B"

In [ ]:
colors

In [ ]:
# A < Z < a < z

In [ ]:
# order = A-z
print(min(colors))
print(max(colors))

In [ ]:
# what is the output ???
min("Z","a")

In [ ]:
# what is the output ???
min("BB", "BA")

In [ ]:
# Return number of repetitions for specified value
colors.count("Green")

# **Set**

In [ ]:
# Create set using "set" keyword and but comma-seperated-values in a list
setColors1 =  set(["Red", "Orange", "Black", "White", "Blue", "Green", "Green"]) # Create by pass 1 itterable argument

In [ ]:
# Create tuple by add comma-seperated-values in { }
setColors2 = {"Red", "Orange", "Black", "White", "Blue", "Green"}

In [ ]:
setColors1

In [ ]:
setColors2

In [ ]:
setColors1[0]

In [ ]:
print([1,1,2,3,4,7,7,5,6,6,6], " length : ", len([1,1,2,3,4,7,7,5,6,6,6]))
print(set([1,1,2,3,4,7,7,5,6,6,6]), " length : ",len(set([1,1,2,3,4,7,7,5,6,6,6])))

In [ ]:
set([1,1,2,3,4,7,7,5,6,6,6])

In [ ]:
setColors1

In [ ]:
setColors1.add("Gray")

In [ ]:
setColors1

In [ ]:
setColors1.add("Gray1")

In [ ]:
setColors1

In [ ]:
setColors1.add("Blue1")

In [ ]:
setColors1

In [ ]:
set_1 = setColors1.copy()

In [ ]:
set_1

In [ ]:
set_1.remove("Black")
set_1

In [ ]:
s = set_1.pop()
print(set_1)
print(s)

In [ ]:
set_1

In [ ]:
set_1.clear()

In [ ]:
set_1

In [ ]:
del set_1

In [ ]:
# set_1

# **Dictionary**

In [ ]:
# Create dictionary using "dict" keyword
d1 = dict()

In [ ]:
d1

In [ ]:
d1["1"] = 1

In [ ]:
d1

In [ ]:
d1["2"] = 2
d1["3"] = 3

# string , number, tuple

In [ ]:
d1

In [ ]:
d3 = { 1 : "one", 2 : "two" }

In [ ]:
d1["1"], d1["2"], d1["3"] = 4,5,6

In [ ]:
d1

In [ ]:
# # Create dictionary by add "key" : value in { }
d2 = { "3" : 3.0, "4": 4, "5":5 }

In [ ]:
d = {}
# d = dict()

In [ ]:
type(d)

In [ ]:
d2

In [ ]:
["Mahmoud", 26, 83.1, [100,89,79,95,99]]

In [ ]:
sData = {
         "name" : "Mahmoud",
         "age": 26,
         "gpa":83.1,
         "marks": [100, 89, 79, 95, 99]
         }

In [ ]:
sData

In [ ]:
# Access element by key
print(sData["name"])
print(sData["marks"])

In [ ]:
sData.items()

In [ ]:
list(sData.items())

In [ ]:
print("Dictionary key and values in tuple as pairs : ", sData.items(), end="\n\n")

In [ ]:
print("Dictionary values : " , sData.values(), end="\n\n")

In [ ]:
list(sData.values())

In [ ]:
print("Dictionary keys : ",sData.keys(), end="\n\n")

In [ ]:
list(sData.keys())

In [ ]:
# cheack if key name in dictionary keys
"name" in sData.keys()

In [ ]:
"Name" in sData.keys()

In [ ]:
sData["name"]

In [ ]:
sData.get("name")

In [ ]:
"weight" in sData.keys()

In [ ]:
sData["weight"]

In [ ]:
if "weight" in sData.keys():
  print(sData["weight"])
else :
  print("Not exist")

In [ ]:
sData.get("weight", 80)

In [ ]:
print(sData.get("weight"))

In [ ]:
# use get to return the value if key exist or default value if key not exist
print(sData.get("name"))
print(sData.get("weight"))
print(sData.get("weight", 90.5))

In [ ]:
print(sData.get("height", 180))

In [ ]:
# Add element in dictionary
sData["Weight"] = 85
print(sData)

In [ ]:
# Update data in dictionary
sData["Weight"] = 86
print(sData)

In [ ]:
sData["highet"] = 180
print(sData)

In [ ]:
sData["highet"] = 170

In [ ]:
# Delete element from dictionary
del sData["Weight"]
print(sData)

In [ ]:
del sData["highet"]

In [ ]:
sData

In [ ]:
# Copy dictionary
sDataCopy = sData.copy()
print(sDataCopy)

In [ ]:
sDataCopy2 = sData
print(sDataCopy2)

In [ ]:
print("Original : ", sData)
print("Copy 1 : ", sDataCopy)
print("Copy 2 : ", sDataCopy2)

In [ ]:
sDataCopy2["name"] = "Ahmad"

In [ ]:
print("Original : ", sData)
print("Copy 1 : ", sDataCopy)
print("Copy 2 : ", sDataCopy2)

In [ ]:
sData["name"] = "Khaled"

In [ ]:
print("Original : ", sData)
print("Copy 1 : ", sDataCopy)
print("Copy 2 : ", sDataCopy2)

In [ ]:
sData["age"] =30

print("Original : ", sData)
print("Copy 1 : ", sDataCopy)
print("Copy 2 : ", sDataCopy2)

In [ ]:
sDataCopy["age"] =50

print("Original : ", sData)
print("Copy 1 : ", sDataCopy)
print("Copy 2 : ", sDataCopy2)

In [ ]:
# Clear dictionary items
# Delete keys and values from dictionary and return empty dictionary
# Do not remove dictionary from memory
sDataCopy.clear()
print(sDataCopy)

In [ ]:
# Delete dictionary from memory
del sDataCopy

In [ ]:
print(sDataCopy)

In [ ]:
d1 = {'1': 1, '2': 2, '3': 3}
d2 = {'3': 3.0, '4': 4, '5': 5}

In [ ]:
d1

In [ ]:
d2

In [ ]:
#  {'1': 1, '2': 2, '3': 3} update {'3': 3.0, '4': 4, '5': 5}
#  {'1': 1, '2': 2, '3': 3.0, '4': 4, '5': 5 }

In [ ]:
# Add keys and values from dictionary to another
print("d1 : " ,d1)
print("d2 : " ,d2)

d1.update(d2)
print("Updated d1 : ", d1)

In [ ]:
d1.update({"6" : 6 , "7" : 7})

In [ ]:
print(d1)

In [ ]:
d1.update({"2" : "two", "6":6.5, "8":8})
print(d1)

In [ ]:
d1.update({ 2 : "three"})
print(d1)

In [ ]:
d1.update({"two" : 2 , "Two" : 2})
print(d1)

In [ ]:
d1

In [ ]:
{"two" : 2 , "two" : 3}

In [ ]:
d1.update({"two" : 2 , "two" : 3})
print(d1)

In [ ]:
d1

In [ ]:
# Crate dictionary with tuple as key
dict_ = {
         (1,2) : ["Mahmoud", "Ahmad"],
         (3,4) : ["Muna", "Rama"]
         }

In [ ]:
dict_[(1,2)]

In [ ]:
dict_[(1,2)][0]

In [ ]:
dict_[(1,3)]

In [ ]:
# Create list of dictionaries of data
studentData =    [

     {"name" : "Mahmoud",
      "age": 26,
      "gpa":83.1,
      "marks": [100, 89, 79, 95, 99] }

      ,

     {"name" : "Ahmad",
      "age": 30,
      "gpa":93.3,
      "marks": [99, 89, 79, 95, 77]}

      ,

     {"name" : "Susu",
      "age": 20,
      "gpa":87.0,
      "marks": [80, 89, 79, 75, 99]}

    ]

In [ ]:
studentData

In [ ]:
# Access to items (dictionary) in the list using index
# Returned object is dictionary
studentData[0]

In [ ]:
# Access the element in dictionary by "key name"
# In the following code :
# 1- Access to the first element in the list  => studentData[0]
# 2- Access to the name value by "name" key =>  studentData[0]["name"]

studentData[0]['name']

In [ ]:
# Task :
# Write Python code to access to the gpa value for second dictionary in the list

studentData[1]['gpa']

In [ ]:
# Access to mark list in the last dictionary in studentData list
# Return list of marks

studentData[-1]["marks"]

In [ ]:
# Access to the first 3 marks in the last dictionary in studentData list
studentData[-1]["marks"][0:3]

In [ ]:
# Task
# Write Python code to access to the last 3 marks in the first dictionary in studentData list

studentData[0]["marks"][-3:]

In [ ]:
studentData

In [ ]:
# Print all names in the studentData
# Solution 1

for i in range(len(studentData)):
  print(studentData[i]["name"])

In [ ]:
# Solution 2
# Print dictionary number in the list followed by name value
for i in range(len(studentData)):
  print(i+1 , " " , studentData[i]["name"])

In [ ]:
list(enumerate(["Mahmoud", "Ahmad", "Salem"]))
# (0, Mahmoud) , (1, Ahmad), (2, Salem)|

In [ ]:
list(enumerate(studentData))

In [ ]:
idx ,name = (0, "Mahmoud")

print(idx)
print(name)

In [ ]:
name = (0, "Mahmoud")
print(name)

In [ ]:
# Solutution 3
# Print dictionary number in the list followed by GPA value
# Using enumerate

for idx, data in enumerate(studentData):
  print(idx+1 , " " , data["name"])

In [ ]:
# Task
# For each dictionary in the list print student name followed by gpa

for idx, data in enumerate(studentData):
  print(idx+1 , " " , data["name"], " " , data["gpa"])

In [ ]:
# Update all name values in dictionary with new input value

In [ ]:
studentData

In [ ]:
for data in studentData:
  data["name"] = input("Enter new name : ")

In [ ]:
studentData

In [ ]:
# Update gpa value for Mahmoud student in dictionary with new input value

for data in studentData:
  if data['name'] == "taima":
    data['gpa']= float(input("enter new gpa : "))

In [ ]:
studentData

In [ ]:
# Access to keys in the dictionary by index
# 1- Access to any dictionary in the list.  e.g. first dictionary

studentData[0]

# 2- Access to the keys in the dictionary
studentData[0].keys()

# 3- Casting return value to the list
list(studentData[0].keys())

# Access to element of the list of keys by index
list(studentData[0].keys())[-2]

In [ ]:
list(studentData[0].keys())[:3]

In [ ]:
studentData[0].keys()

In [ ]:
list(studentData[0].keys())[::2]

In [ ]:
studentData

In [ ]:
studentData[0].items()

In [ ]:
# Print keys and values for all dictionaries in the list
# Use dict.items()

for data in studentData:
  for k, v in data.items():
    print(k, ": ", v)
  print("="*50)

In [ ]:
# Create and print list of all gpa values
list_all_gpa = []

for data in studentData:
  list_all_gpa.append(data['gpa'])

list_all_gpa

In [ ]:
# Task :
# Create and print list that obtain all mark values in all dictionaries

list_all_marks = []

for data in studentData:
  list_all_marks.extend(data['marks'])

In [ ]:
list_all_marks

# **Functions**

In [ ]:
# Create function with 1 argument
def getStudentAge(sName):

  studentsAges = {
   "mahmoud" : 25,
   "ahmad" : 22,
   "khaled" : 28,
   "rula" : 25,
   }

  # if sName in studentsAges.keys():
  #    return studentsAges[sName]

  # return "student is not exist"

  return studentsAges.get(sName, "student is not exist")

In [ ]:
print(getStudentAge(sName = 'mahmoud'))

In [ ]:
print(getStudentAge(sName = 'ali'))

In [ ]:
# Create function with multiple arguments in one line
def getFullName(fName, mName, lName): return "_".join([fName, mName, lName])

In [ ]:
getFullName(fName = "Mahmoud", mName = "Haroun", lName = "Hamouri")

In [ ]:
def addPythonToList(l) :
  l.append("PYTHON")
  print(l)

In [ ]:
programmingLanguages = ["Java", "C++", "Ruby", "Php"]

In [ ]:
print(programmingLanguages)
addPythonToList(l=programmingLanguages) # Call by reference
print(programmingLanguages)

In [ ]:
del programmingLanguages[-1]

In [ ]:
programmingLanguages

In [ ]:
print(programmingLanguages)
addPythonToList(l=programmingLanguages.copy()) # Call by value
print(programmingLanguages)

In [ ]:
# What did you notice ????

In [ ]:
# Create function where arguments with default value
def powNum(num, p=2):
  val= num
  while p !=1:
    val *= num
    p -= 1

  return val

In [ ]:
print(powNum(num=4))

In [ ]:
print(powNum(4, 4))

In [ ]:
print(powNum(num=4, p=4))

In [ ]:
# Crate function with variable-length argument
def getAverage(*values):
  sum = 0
  count = 0
  for v in values:
    sum+=v
    count+=1

  return sum/count

In [ ]:
print(getAverage(2,3,4,5,6,7))

In [ ]:
print(getAverage(2,3,4,5,6,7, 8,9,10,11))

In [ ]:
# Lambda (Anonymous Function)

lFun = lambda n1, n2 : n1+n2

In [ ]:
lFun(3,4)

In [ ]:
# Nested function
def outerFun():

  def innerFun():
    return "inner function"

  return innerFun()

In [ ]:
outerFun()

In [ ]:
def num1(x):
   def num2(y):
      return x * y
   return num2

In [ ]:
res = num1(10)

In [ ]:
res(6)

In [ ]:
def operationals(x):
    def sum(y):
      return x+y
    def mul(y):
       return x*y
    return sum , mul

s, res=operationals(12)

In [ ]:
print(s(12),res(3))